@charset "UTEF-8";

/* スタイルCSS 
z-index
1000(header-inner,navpanel_open),100(ttl),50(overbg)

============================== */



/* body
============================== */
body, button {
    font-family: 'Outfit', sans-serif, "Noto Sans JP";
    font-weight: 100;
    color: #232323;
    line-height: 1.6;
  }
span.jp {
    font-size: 0.9em;
    font-weight: 300;
    color: #232323;
    line-height: 1.6;
}
.pd-top-s {
    padding-top: 15px;
}
.pd-top-m {
    padding-top: 30px;
}
.pd-top-l {
    padding-top: 60px;
}
.mg-top-s {
    padding-top: 15px;
}
.mg-top-m {
    padding-top: 30px;
}
.mg-top-l {
    padding-top: 60px;
}
.mg-top-ll {
    margin-top: 120px;
}
.pd-bottom-l {
    padding-bottom: 60px;
}

/* flex
______________________________ */
.flex-co { /* 縦 */
    display: flex;
    flex-direction: column;
}
.flex-ro { /* 横 */
    display: flex;
    flex-direction: row ;
}

/* font
______________________________ */
/* weight */
.fw-300 {
    font-weight: 300;
}
.fw-500 {
    font-weight: 500;
}
/* lineheight */
.lh-1 {
    line-height: 1;
}
.lh-2 {
    line-height: 2;
}
.lh-3 {
    line-height: 3;
}
.fs-m {
    font-size: 12px;
}
.fs-l {
    font-size: 14px;
}
.fs-l-en {
    font-size: 16px;
}
.fs-s {
    font-size: 10px;
}
.section-contents-ttl {
    font-size: 24px;
    font-style: italic;
    font-weight: 300;
}
.italic {
    font-style: italic;
}
.vertical-rl {
    writing-mode: vertical-rl;
}

/* Google Material icon
______________________________ */
/* code e409 右矢印 */
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 100,
  'GRAD' 0,
  'opsz' 48
}



/* header
============================== */
/* maintitle
______________________________ */
.header-inner {
    width: 100%;
    height: 52px;
    position: fixed;
    background-color: #232323;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

header h1 {
    font-weight: 100;
    font-size: 20px;
    position: relative;
    text-align: center;
    font-family: 'Outfit', sans-serif;
    font-style: italic;
    margin: 0;
}


/* ハンバーガーmenu
______________________________ */
span {
    display: inline-block;
}
.navmenu {
    top: 0;
    left: 0;
    height: 44px;
    margin-left: 5%;
    margin-top: 3px;
    z-index: 1000;
    width: 44px;
    position: absolute;
    background: none;
    border: white;
    cursor: pointer;
    border-radius: 9999px;
    padding-left: 0;
}
/* 中央線 */
.navline {
    position: absolute;
    right: 0;
    left: -25px;
    bottom: 0;
    top: 0;
    margin: auto;
    width: 18px;
    height: 0.5px;
    background: #ffffff;
    text-align: left;   
}
/* 上下線 */
.navline::before,
.navline::after {  
    content: '';
    position: absolute;
    top: calc(50%);
    content: '';
    width: 24px;
    height: 0.5px;
    display: block;
    transition: transform .3s;
    background: #ffffff;
}
.navline::before {
    transform: translateY(-8px);
}
.navline::after {
    transform: translateY(8px);
}
/* isactive2での表示状態 */
.is-active2 {
    visibility: hidden;
}
.navline.is-active2::before,
.navline.is-active2::after {
    visibility: visible;
} 
.navline.is-active2::before {
    transform: rotate(45deg);
}
.navline.is-active2::after {
    transform: rotate(-45deg);
}

/* ハンバーガーnavpanel
______________________________ */
/* panel */
#navpanel {
    position: fixed;
    margin-top: 52px;
    
}
.navpanel {/*制作中：パネルの表示非表示切り替えはコメントアウトで*/
    visibility: hidden;
}
.navpanel_open { 
    visibility: visible;
    transition: 0.8s ease; 
    transform: translateX(100%); 
    z-index: 1000;
}
.navpanel-inner {
    background-color: aqua;
    width: 80vw;
    height: 100vh;
    transform: translateX(-100%);
}

/* main
______________________________ */
main {
    padding-top: 52px;

}
/* スライド手前オーバーレイ */
section.slide_section div.overbg::before {
    content: "";
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(10, 27, 41, 0.68);
    z-index: 50;
}
/* ギャラリーのスクロールと向き__横バージョン */
.slide_section {
    width: 100%;
    height: auto;
    overflow: hidden;
    position: relative;
}
ul.gallery-heroitems {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    /* position: absolute; */
    animation: slide 30s infinite linear;
}
ul li img.gallery-heroitems-item {
    /*　親要素（vhの高さに依存）、width400px優先heightauto */
    width: 500PX; /*1000x1334imgを使用で50%表示でquolitykeep*/
    height: auto; /* ブラウザ画面の高さに依存,width優先height */ 
}
ul li {
    width: 100%;
    padding: 0;
    margin: 0;
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}
/* 580px以上850px未満849px height40vw */
@media (min-width: 580px) and (max-width: 849px) { 
    ul li img.gallery-heroitems-item {
        height: 40vw;
        width: auto;
    }
    section.slide_section ul,
    section.slide_section ul li {
        height: 40vw;
        width: auto;
    }
    ul.gallery-heroitems {
        animation: slide s infinite linear;
    }
}
/* 850px以上 height60vw */
@media (min-width: 850px) {
    ul.heroitems li img.gallery-heroitems-item {
        height: 60vw;
        width: auto;
    }
    section.slide_section ul,
    section.slide_section ul li {
        height: 60vw;
        width: auto;
    }
}

div.overbg::after { /*::afterがないとスピード増す*/
    position: relative;
    display: inline-block;
}
.overlay-ttl-h1 { /* PORTFOLIO */
    /* 下付き文字回転軸左下 */
    position: absolute;
    top: 1%;
    left: 5%;
    font-style: italic;
    font-weight: 300;
    color: white;
    z-index: 100;
    transform: rotate(90deg);
    transform-origin: left bottom;
    font-size: clamp(54px, 15vw, 70px);
    margin: 0 !important;
    line-height: 0.75 !important;
    vertical-align: sub;
}
.overlay-ttl-p {
    position: absolute;
    top: 70%;
    left: 7.3%;
    font-style: italic;
    color: white;
    z-index: 100;
    transform: rotate(90deg);
    transform-origin: left bottom;
    font-size: 12px;
    letter-spacing: 0.08em;
    margin: 0 !important;
    line-height: 1.1 !important;
    vertical-align: sub;
    
}
.scroll-line {
    position: absolute;
    z-index: 100;
    color: white;
    right: 5%;
    bottom: 0px;
    width: 1px;
    height: 300px;
    background-color: rgba(10, 27, 41, 0.68);
    transition: all 1.4s;
}
.scroll-line span{
    position: absolute;
    top: -70px;
    left: -8px;
    font-size: 10px;
    font-style: italic;
    letter-spacing: 0.08em;
    transform-origin: left bottom ;
    writing-mode: vertical-rl;
    vertical-align: top;
}
.scroll-line::after {
    z-index: 100;
    content: "";
    display: block;
    position: absolute;
    left: 0;
    width: 1px;
    background: white;
    animation-duration: 6s;
    animation-delay: 0s;
    animation-timing-function: ease;
    animation-name: lineFlow;
    animation-fill-mode: none;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-direction: normal;
    animation-timeline: auto;
}

@keyframes lineFlow {
    0% {
        bottom: 100%;
        height: 0%;
    }
    20% {
        bottom: 0%;
        height: 100%;  
    }
    40% {
        bottom: 0%;
        height: 0%;
    }
    100% {
        bottom: 0%;
        height: 0%;
    }
}

/* section_ABOUT
============================== */
#about-section {
    background-color: rgb(255, 255, 255);
    height: auto;
}
.section-contents {
    margin: 0 5%;
    background-color: rgb(255, 255, 255);
    height: auto;
    position: relative;
    display: flex;
}
.section-contents-ttl::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    /* ttlサイズに依存 */
    width: 1em;
    height: 2.5px;
    background-color: #DE2640;
}
.section-contents-ttl {
    padding-top: 20px;
    font-weight: 400;
    /* ttlサイズに依存 */
    line-height: 1em;
}
span.wb{
    word-break: keep-all;
}
/* セクションテキストエリア（タイト） */
.section-contents-txt-tight {
    background-color: rgb(255, 255, 255);
    margin:  75px 15% 0px;
    height: auto;
    width: 100%;
}
/* セクションテキストエリア（ワイド） */
.section-contents-txt-wide {
    background-color: rgb(255, 255, 255);
    margin:  75px 4% 0px;
    height: auto;
    width: 100%;
}
/* セクションテキストエリア（skills） */
.section-contents-skills {
    background-color: rgb(255, 255, 255);
    margin: 75px 0px;
    width: 338px;
    height: auto;
}
.fadeup-one {
    animation-name:fadeUpAnime;
    animation-duration:2.8s;
    animation-fill-mode:forwards;
    opacity:0;
}      
.fadeup-two {
    animation-name:fadeUpAnime;
    animation-duration:3.8s;
    animation-fill-mode:forwards;
    opacity:0;
}           
.animate-fadeup-one {
    animation-name: fadeUpAnimeOne;
    animation-duration: 2.8s;
    animation-fill-mode: forwards;
}

.animate-fadeup-two {
    animation-name: fadeUpAnimeTwo;
    animation-duration: 3.8s;
    animation-fill-mode: forwards;
}

@keyframes fadeUpAnimeOne {
    from {
        opacity: 0;
        transform: translateY(100px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeUpAnimeTwo {
    from {
        opacity: 0;
        transform: translateY(100px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}



/* button
______________________________ */
button {
    border-radius: 9999px;
    text-decoration: none;
    cursor: pointer;
}
.button-more {
    color: #232323;
    box-sizing: border-box;
    padding: 3px 28px;
    border: #232323 0.7px solid ;
    background-color: #fff;
    text-align: left;
    width: 140px;
}
.button-more:hover {
    transform: translateX(3px);
    border-left: 3px solid #232323 ;
}
.button-more a {
    display: flex;
    color: #232323;
    align-items: center;
    justify-content: space-between;
}
span.button-txt {
    margin-right: 35px;
    margin-bottom: 3px;
}
img.icon_right {
    margin-left: 10px;
}


/* minislide
______________________________ */
#section-minislide {
    margin-top: 75px;    
}
.slide-container {
    display: flex;
    overflow-x: scroll;
    cursor: grab;
}
.slide-container::-webkit-scrollbar {
    display: none;
}
.slide-container:active {
    cursor: grabbing;
}



/* section_SKILLS
============================== */
/* skills-アコーディオン */
.skills-txt {
    padding-left: 10%;
}
.skills-section-softskills {
    width: 100%;
    padding: 42px 0px;
    background-color: rgb(255, 255, 255);
    display: inline-block;
}
.softskills-cards {
    /* 範囲：外余白を100%から左右各5%引いたwidth90%が決まる（この時点ではまだ左寄り） */
    width: calc(100% - 10%);
    /* 範囲：marginで外余白との位置関係を決める（autoで左右に5％づつ分かれる） */
    margin: 0 auto;
    /* 自体：そのもののwidthやheight背景色を決める */ 
    background-color: rgb(255, 255, 255);
    /* 自体：widthでなくmax-widthにすると、画面幅が小さくても指定サイズ以下で自動で縮小 */
    max-width: 338px;
    /* height: 78px;    */
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 42px;
    padding-inline-start: 0px;
}
.softskills-card {
    background-color: #ffffff;
    list-style: none; 
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2)
}
.card-intro {
    display: flex;
    justify-content: space-between;
    height:84px;
}
.card-texts {
    flex: 60vw;
    padding-left: 5%;
}
.detailpanel {
    display: none;
}
img.todetail:hover {
    cursor: pointer;
}
.active {
    display: block ;
}
.toup {
    transform: rotate(180deg);
}
.card-maintext {
    margin-bottom: 0px;
}
.card-subtext {
    font-size: 12px;
    margin-top: 10px;
}
.intro-img {
    height: 84px;
    width: auto;
    flex-wrap: wrap;
    padding-left: 10px;
}
.detailpanel-inner {
    padding: 24px 5%;
    width: 250px;
    margin: 0 auto;
}
.detailpanel-inner-text {
    font-size: 12px;
    line-height: 2;
    padding-top: 24px;
}
.detailpanel-inner > ul {
    font-size: 10px;
    list-style-position: inside;
    padding-left: 0px;
    margin: 24px 0;
}
.detailpanel-inner-imgs > img {
    width: 120px;
    height: 90px;
    object-fit: none;
    top: 0;
    left: 0;
    object-fit: cover;
    border-radius: 2px;
}
.detailpanel-inner-imgs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    position: relative;
}
/* テスト中の白色背景ON */
.softskills-card,
.softskills-cards,
.skills-section-softskills {
    background-color: #ffffff;;
}
.imgcaption {
    position: relative;
}
.caption {
    font-size: 8px;
    font-weight: 300;
    background-color: rgba(255, 255, 255, 0.3 );
    position: absolute;
    top: 75px;
    left: 135px;
    padding: 0 3px;
}
.caution {
    font-size: 8px;
    padding-top: 8px;
    padding-bottom: 24px;
}
.todetail {
    width: 35px;
}


/* section_WORKS
============================== */
.categories {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    width: 100%;    
}
.category {
    /* ボタンの高さfontsize+pdtop+pdbtm */
    font-size: 14px;
    font-weight: 300;
    list-style: none;
    color: #232323;
    padding: 8px 28px;
    border: #232323 0.7px solid;
    border-radius: 9999px;
    margin-right: 16px;
    margin-bottom: 10px;
    background-color: #fff;
}
.category:last-child {
    margin-right: 0px;
}
.categories>a.bg-gray {
    background-color: #F0F0F0;
}
.category:hover {
    cursor: pointer;
    background-color: #232323;
    color: #fff;
}
.categories>a.bg-gray:hover {
    cursor: pointer;
    background-color: #232323;
    color: #fff;
}
.work {
    width: 310px;
    height: auto;
    background-color: aquamarine;
    margin: 0 auto;
    margin-bottom: 60px;
}
.work:last-child {
    margin-bottom: 0px;
}
.imgdiv {
    width: 310px;
    height: 233px;
    background-color: #e3cbcb;
    text-align: center;
    margin: 0 auto;
}
 

/* footer */
.footer_inner {
    margin-top: 120px;
    padding: 5%;
    background-color: #F0F0F0;
    position: relative;
}
.footer-categories {
    width: 90%;
}
.footer_inner>ul>li {
    font-size: 16px;
    font-weight: 300;
    font-style: italic;
    padding-top: 20px;
}
.logo {
    display: flex;
    position: relative;
    vertical-align: middle;
    font-weight: 300;
}
.img_logo, logo>p {
    width: 8%;
    height: 8%;
    margin-right: 6px;
    vertical-align: middle;
}
#totop {
    position: absolute;
    bottom: 108px;
    right: 1%;
    width: 12%;
    position: fixed;
    transform: rotate(180deg);
}
.totop:hover {
    cursor: pointer;

}
.copy {
    font-size: 10px;
    color: #fff;
    background-color: #232323;
    padding-left: 0px;
    padding: 15px;
    text-align: center;
    font-style: italic;
}