@charset "UTEF-8";
/* スタイルCSS */

/* body
============================== */
body, button {
    font-family: 'Outfit', sans-serif, "Noto Sans JP";
    font-weight: 100;
    color: #232323;
    line-height: 1.6;
  }
.jp {
    font-size: 14px;
    font-weight: 300;
    color: #232323;
    line-height: 1.6;;
  }
.pd-top-m {
    padding-top: 10px;
}
.pd-top-l {
    padding-top: 20px;
}

/* font
______________________________ */
/* weight */
.fw-300 {
    font-weight: 300;
}
/* lineheight */
.lh-1 {
    line-height: 1;
}
.lh-3 {
    line-height: 3;
}


/* button
______________________________ */
button + button {
    margin-right:10px;
    margin-top: 16px;
}
button:first-child {
    margin-right: 10px;
}
button { 
    padding: 3px 28px;
    border-radius: 9999px;
    cursor: pointer;
}
button.white {
    background-color: rgb(255, 255, 255);
    color: #232323;
    font-weight: 300;
    border: #232323 1px solid;
    font-size: 16px;
}
button.white:hover {
    background: #232323;
    color: #ffffff;
    border: none;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3);
}
ul.categories {
    display: flex;
    list-style-type: none;
    
}





/* header
============================== */
/* maintitle
______________________________ */
header {
    width: 100%;
    height: 52px;
    z-index: 100;
    position: fixed;
    background-color: #232323;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

header h1 {
    font-weight: 100;
    font-size: 20px;
    position: relative;
    text-align: center;
    font-family: 'Outfit', sans-serif;
    font-style: italic;
    margin: 0;
}


/* ハンバーガーmenu
______________________________ */
span {
    display: inline-block;
}
.navmenu2 {
    top: 0;
    left: 0;
    height: 44px;
    margin-left: 5%;
    margin-top: 3px;
    z-index: 300;
    width: 44px;
    position: absolute;
    background: none;
    border: none;
    cursor: pointer;
}
/* 真ん中の線 */
.navline {
    position: absolute;
    right: 0;
    left: -25px;
    bottom: 0;
    top: 0;
    margin: auto;
    width: 18px;
    height: 0.5px;
    background: #ffffff;
    text-align: left;
}
/* 上下の線 */
.navline::before,
.navline::after {  
    content: '';
    position: absolute;
    top: calc(50%);
    content: '';
    width: 24px;
    height: 0.5px;
    display: block;
    transition: transform .3s;
    background: #ffffff;
}
.navline::before {
    transform: translateY(-8px);
}
.navline::after {
    transform: translateY(8px);
}
/* is-activeでの表示状態 */
.is-active2 {
    visibility: hidden;
}
.navline.is-active2::before,
.navline.is-active2::after {
    visibility: visible;
} 
.navline.is-active2::before {
    transform: rotate(45deg);
}
.navline.is-active2::after {
    transform: rotate(-45deg);
}

/* ハンバーガーnavpanel
______________________________ */
/* panel */
#navpanel {
    z-index: 100;
}
.navpanel {/*制作中：パネルの表示非表示切り替えはコメントアウトで*/
    visibility: hidden;
    transition: 0.6s ease-in-out;
    transform: translateY(-50%) scale(1);
    opacity: 0;

}
.navpanel_open { 
    visibility: visible;
    transform: translateX(0);
    opacity: 1.0;
}
/* list */
.navpanel-inner {
    background-color: rgb(255, 255, 255);
    padding-top: 100px;
    padding-left: 8%;
    position: fixed;
    width: 80%;
    height: 100vh;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.2);
}
.navpanel-inner ul li {
    font-style: italic;
    list-style: none;
    font-size: 20px;
}
.navpanel-inner ul li a {
    text-decoration: none;
    color: #232323;
    transition-delay: 1s ease-in-out;
    opacity: 1;
}
.navpanel-inner ul li a:hover {
    cursor: pointer;
    font-weight: 500;
}




/* logo */
.logo {
    display: flex;
    font-size: 10px;
    font-style: italic;
    gap: 6px;
    align-items: center;
}





/* main 
============================== */
main {
  padding-top: 50px;
  height: auto;
}
#works_section {
    padding-top: 150px;

}







/* スライドギャラリー
______________________________ */
/* ギャラリーのスクロールと向き__横バージョン */
.slide_section {
    width: 100%;
    height: auto;
    overflow: hidden;
    position: relative;
}
ul.gallery-heroitems {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    /* position: absolute; */
    animation: slide 30s infinite linear;
}
ul li img.gallery-heroitems-item {
    width: auto;
    height: 100%; /* ブラウザ画面の高さに依存 */ 
}
ul li {
    width: 100%;
    padding: 0;
    margin: 0;
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}


/* 580px未満 
@media (max-width: 579px) { 
    ul li img.gallery-heroitems-item {
        height: 100vw;
        width: auto;
    }
    section.slide_section ul,
    section.slide_section ul li {
        height: 100vw;
        width: auto;
    }
}*/
/* 580px以上850px未満849px height40vw */
@media (min-width: 580px) and (max-width: 849px) { 
    ul li img.gallery-heroitems-item {
        height: 40vw;
        width: auto;
    }
    section.slide_section ul,
    section.slide_section ul li {
        height: 40vw;
        width: auto;
    }
    ul.gallery-heroitems {
        animation: slide s infinite linear;
    }
}
/* 850px以上 height60vw */
@media (min-width: 850px) {
    ul.heroitems li img.gallery-heroitems-item {
        height: 60vw;
        width: auto;
    }
    section.slide_section ul,
    section.slide_section ul li {
        height: 60vw;
        width: auto;
    }
}
/* スライドショー、オーバーレイ、テキスト */
section.slide_section div::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(10, 27, 41, 0.68);
    z-index: 300;
}
div.overbg::after { /*::afterがないとスピード増す*/
    position: relative;
    display: inline-block;
}
.overlay-ttl-h1 {
    position: absolute;
    top: 40vw;
    left: -28vw;
    font-style: italic;
    font-weight: 100;
    color: white;
    z-index: 700;
    transform: rotate(90deg);
    font-size: 13vw;
}
.overlay-ttl-p {
    position: absolute;
    top: 85%;
    left: 5%;
    padding-top: 0px;
    z-index: 700;
    color: white;
    font-size: 10px;
    letter-spacing: 0.08em;
    font-style: italic;
}
.scroll-line {
    position: absolute;
    z-index: 700;
    color: white;
    right: 5%;
    bottom: 0px;
    width: 1px;
    height: 300px;
    background-color: rgba(10, 27, 41, 0.68);
    transition: all 1.4s;
}
.scroll-line span{
    position: absolute;
    top: -70px;
    left: -8px;
    font-size: 10px;
    font-style: italic;
    letter-spacing: 0.08em;
    transform-origin: left bottom ;
    writing-mode: vertical-rl;
    vertical-align: top;
}
.scroll-line::after {
    z-index: 700;
    content: "";
    display: block;
    position: absolute;
    left: 0;
    width: 1px;
    background: white;
    animation-duration: 6s;
    animation-delay: 0s;
    animation-timing-function: ease;
    animation-name: lineFlow;
    animation-fill-mode: none;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-direction: normal;
    animation-timeline: auto;
}

@keyframes lineFlow {
    0% {
        bottom: 100%;
        height: 0%;
    }
    20% {
        bottom: 0%;
        height: 100%;  
    }
    40% {
        bottom: 0%;
        height: 0%;
    }
    100% {
        bottom: 0%;
        height: 0%;
    }
}

/* slide_section2 */
.slide_section2 {
    width: 100%;
    height: auto;
    overflow: hidden;
    position: relative;
}
.gallery-heroitems2 {
    display: flex;
    list-style: none;
    gap: 0;
}
.gallery-heroitems-item2 {
    object-fit: cover;
} 


/* footer
============================== */



/* テスト
============================== */

#works_gallery {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 80px;
    align-content: center;
    overflow: hidden;
}
